# Ignore generated/build files from GitHub language statistics
.dart_tool linguist-generated=true
build linguist-generated=true
android/.gradle linguist-generated=true
android/build linguist-generated=true
ios/Pods linguist-generated=true
windows/flutter linguist-generated=true
linux/flutter linguist-generated=true
linux/flutter linguist-generated=true